<!--詳細ページ-->

<%= notice %>

<h1>Book detail</h1>
<table>
    <tbody>
        <tr>

            <td>
                <p><%= link_to 'User name', books_path %></p>
            </td>
            <td>
                <!--タイトル-->
                <p><%= link_to @book.title, book_path(@book.id) %></p>
            </td>
            <td>
                <!--オピニオン-->
                <p><%= @book.body %></p>
            </td>
            <td>
                <%= link_to "Edit", edit_book_path(@book.id) %>
            </td>
            <td>
                <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？?" %>
            </td>
        </tr>
    </tbody>
</table>



<!--投稿部分-->
<h1>New book</h1>
<!-- form_with部分 -->
<%= form_for (@new) do |f| %>

   <!--エラー文章部分-->
  <% if @new.errors.any? %>
        <h2><%= @new.errors.count %>件のエラーが発生しました。</h2>

        <ul>
        <% @new.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
   <% end %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>