<!--ログインページ-->
<h1>Log in</h1>



<%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>




<P>Name</P>
<%= f.text_field :name %>

<p>Password </p>
<%= f.password_field :password  %>

</br>
<%= f.submit "Log in" %>
<% end %>


<%= link_to "sign up", new_user_registration_path %>