<!DOCTYPE html>
<html>
  <head>
    <title>Bookers4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1>Bookers</h1>
      
      <!--条件分岐。ログインしてる時、してない時-->
    <% if user_signed_in? %>  
      <span><%= link_to "Home", books_path  %></span>
      <span><%= link_to "Users" %></span>
      <span><%= link_to "Books" %></span>
      <span><%= link_to "ログアウト", destroy_user_session_path, method: :delete  %></span>
    <% else %>  
      <span><%= link_to "Home", books_path  %></span>
      <span><%= link_to "About", books_path  %></span>
      <span><%= link_to "新規登録", new_user_registration_path %></span>
      <span><%= link_to "ログイン", new_user_session_path %></span>
    <% end %>  
    </header>


    <%= yield %>

    <footer>
      CopyRight Infratop.inc
    </footer>
  </body>
</html>
      
    