<!DOCTYPE html>
<html>
  <head>
    <title>Bookers4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1>Bookers</h1>


      <span><%= link_to "Home", books_path  %></span>
      <span><%= link_to "About", books_path  %></span>
      <span><%= link_to "sign in", new_user_session_path  %></span>
      <span><%= link_to "sign up", books_path  %></span>

    </header>


    <%= yield %>

    <footer>
      CopyRight Infratop.inc
    </footer>
  </body>
</html>
